In [7]:
import pandas as pd

df1=pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
})

df2=pd.DataFrame({
    'ID': [4, 5],
    'Name': ['David', 'Ella']
})

result = pd.concat([df1, df2])
print(result)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
0   4    David
1   5     Ella

In [39]:
df_left=pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df_right=pd.DataFrame({
    'ID': [1, 2, 3],
    'Age': [25, 30, 35]
})

merged=pd.merge(df_left, df_right, on = 'ID', how = 'inner')
print(merged)

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35

In [15]:
df_a=pd.DataFrame({'Name': ['Alice', 'Bob']}, index=[1, 2])
df_b=pd.DataFrame({'Age': [25, 30]}, index=[1, 2])

joined=df_a.join(df_b)
print(joined)

    Name  Age
1  Alice   25
2    Bob   30

In [17]:
df1=pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2=pd.DataFrame({
    'ID': [4, 5],
    'Name': ['Diana', 'Eva']
})

result=pd.concat([df1, df2])
print(result)

   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
0   4    Diana
1   5      Eva

In [33]:
df1=pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie']})
df2=pd.DataFrame({'Age': [25, 30, 35]})

result=pd.concat([df1, df2], axis=1)
print(result)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [39]:
df1=pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], index=[0, 1, 2]})
df2=pd.DataFrame({'Age': [25, 30, 35], index=[1, 2, 3]})

result=pd.concat([df1, df2], axis=1)
print(result)

SyntaxError: ':' expected after dictionary key (604016604.py, line 1)